:root {
    --bg: #1B1B1B;
    --text: #F9FBF2;
    --lg: #09814A;
    --dg:#2D4739;
}

body {
    background-color: var(--bg);
    color: var(--text)
}

.rectangulo {
    width: 200px;
    height: 100px;
    background-color: var(--dg);
    margin: 20px;
}
